.card {
  width: 18rem;
  margin: 2%;
  padding:2%;

}

.projectsmaster {
display:flex;
flex-wrap: wrap;
justify-content: flex-start;
width: 100%;
height: 95vh;
}

.footer{
  position: fixed;
  background-color:linear-gradient(red, yellow, blue);
  bottom:0;
  height:10%;
  align-items: center;
  text-align: center;
  width:100%;
}
.card-body{
  background-color: linear-gradient(red, yellow, blue);
}